# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject


# ~~~~ addtion for pychar ~~~~~
.idea/
.idea/workspace.xml
examples/text_analysis/wordcloud/repository_category/export/*.png
examples/kivy/multi_threading/__init__.py
examples/preprocessing/
examples/text_analysis/wordcloud/repositories_category/icons/code_inverted_-8x.png
gui_prototype/media/icons/code_inverted_-8x.png
gui_prototype/media/icons/code_inverted_-8x.xcf
gui_prototype/model/
gui_prototype/prototype/json/Aggregates_MI_HW2.json
gui_prototype/prototype/json/CMSgov_BenefitAssist.json
gui_prototype/prototype/json/Chicago_food-inspections-evaluation.json
gui_prototype/prototype/json/GNOME_chronojump.json
gui_prototype/prototype/json/GNOME_gimp.json
gui_prototype/prototype/json/GNOME_gnome-builder.json
gui_prototype/prototype/json/GnaspGames_CityRunner.json
gui_prototype/prototype/json/GnaspGames_Gravitate.json
gui_prototype/prototype/json/GnaspGames_MCC-VSCode.json
gui_prototype/prototype/json/GnaspGames_Smelt.json
gui_prototype/prototype/json/InformatiCup_InformatiCup2017.json
gui_prototype/prototype/json/NexusHero_Test.json
gui_prototype/prototype/json/OpenInstitute_OpenDuka.json
gui_prototype/prototype/json/Plagiatus_Barcode-AppGUI.json
gui_prototype/prototype/json/Plagiatus_DerpCounter.json
gui_prototype/prototype/json/PowerDNS_pdns.json
gui_prototype/prototype/json/QueensGambit_OpenCV_GitHub_Test.json
gui_prototype/prototype/json/SamyPesse_How-to-Make-a-Computer-Operating-System.json
gui_prototype/prototype/json/Sefaria_Sefaria-Project.json
gui_prototype/prototype/json/WormBase_website.json
gui_prototype/prototype/json/akitaonrails_vimfiles.json
gui_prototype/prototype/json/alphagov_performanceplatform-documentation.json
gui_prototype/prototype/json/benbalter_congressional-districts.json
gui_prototype/prototype/json/bhuga_bhuga.net.json
gui_prototype/prototype/json/carlosmn_CoMa-II.json
gui_prototype/prototype/json/cmrberry_cs6300-git-practice.json
gui_prototype/prototype/json/cs231n_cs231n.github.io.json
gui_prototype/prototype/json/d3_d3.json
gui_prototype/prototype/json/datasciencelabs_2016.json
gui_prototype/prototype/json/django_django.json
gui_prototype/prototype/json/e-books_backbone.en.douceur.json
gui_prototype/prototype/json/erikflowers_weather-icons.json
gui_prototype/prototype/json/ga-chicago_wdi5-homework.json
gui_prototype/prototype/json/garciaf_fabbook.json
gui_prototype/prototype/json/ghellwig_cmssw-script-collection.json
gui_prototype/prototype/json/ghellwig_script-collection.json
gui_prototype/prototype/json/git_git-scm.com.json
gui_prototype/prototype/json/harvesthq_how-to-walkabout.json
gui_prototype/prototype/json/hpi-swt2-exercise_java-tdd-challenge.json
gui_prototype/prototype/json/hughperkins_howto-jenkins-ssl.json
gui_prototype/prototype/json/jmcglone_jmcglone.github.io.json
gui_prototype/prototype/json/joomla_joomla-cms.json
gui_prototype/prototype/json/kivy-garden_garden.matplotlib.json
gui_prototype/prototype/json/kivy_kivy.json
gui_prototype/prototype/json/m2mtech_smashtag-2015.json
gui_prototype/prototype/json/macloo_just_enough_code.json
gui_prototype/prototype/json/official-stockfish_Stockfish.json
gui_prototype/prototype/json/openaddresses_openaddresses.json
gui_prototype/prototype/json/pobox_overwatch.json
gui_prototype/prototype/json/pyinstaller_pyinstaller.json
gui_prototype/prototype/json/sindresorhus_eslint-config-xo.json
gui_prototype/prototype/json/tensorflow_tensorflow.json
gui_prototype/prototype/json/torvalds_linux.json
gui_prototype/prototype/json/vhf_free-programming-books.json
gui_prototype/prototype/readme/1maithripal1_Programming-Assignments.txt
gui_prototype/prototype/readme/Aggregates_MI_HW2.txt
gui_prototype/prototype/readme/AllThingsSmitty_jquery-tips-everyone-should-know.txt
gui_prototype/prototype/readme/CMSgov_BenefitAssist.txt
gui_prototype/prototype/readme/Chicago_food-inspections-evaluation.txt
gui_prototype/prototype/readme/DataScienceSpecialization_DataScienceSpecialization.github.io.txt
gui_prototype/prototype/readme/DataScienceSpecialization_Developing_Data_Products.txt
gui_prototype/prototype/readme/DataScienceSpecialization_courses.txt
gui_prototype/prototype/readme/GNOME_chronojump.txt
gui_prototype/prototype/readme/GNOME_gimp.txt
gui_prototype/prototype/readme/GNOME_gnome-builder.txt
gui_prototype/prototype/readme/GnaspGames_CityRunner.txt
gui_prototype/prototype/readme/GnaspGames_Gravitate.txt
gui_prototype/prototype/readme/GnaspGames_MCC-VSCode.txt
gui_prototype/prototype/readme/GnaspGames_Smelt.txt
gui_prototype/prototype/readme/HPI-SWA-Teaching_SWT16-Project-08.txt
gui_prototype/prototype/readme/InformatiCup_InformatiCup2017.txt
gui_prototype/prototype/readme/JaceRobinson8_jacerobinson8.github.io.txt
gui_prototype/prototype/readme/Lucifier129_Lucifier129.github.io.txt
gui_prototype/prototype/readme/Maffblaster_travis-broken-example.txt
gui_prototype/prototype/readme/MostlyAdequate_mostly-adequate-guide.txt
gui_prototype/prototype/readme/NexusHero_Test.txt
gui_prototype/prototype/readme/OpenExoplanetCatalogue_open_exoplanet_catalogue.txt
gui_prototype/prototype/readme/OpenInstitute_OpenDuka.txt
gui_prototype/prototype/readme/Plagiatus_Barcode-AppGUI.txt
gui_prototype/prototype/readme/Plagiatus_DerpCounter.txt
gui_prototype/prototype/readme/PowerDNS_pdns.txt
gui_prototype/prototype/readme/PritiAtDure_imonitor-client-March.txt
gui_prototype/prototype/readme/QueensGambit_OpenCV_GitHub_Test.txt
gui_prototype/prototype/readme/SamyPesse_How-to-Make-a-Computer-Operating-System.txt
gui_prototype/prototype/readme/Sefaria_Sefaria-Project.txt
gui_prototype/prototype/readme/WormBase_website.txt
gui_prototype/prototype/readme/akitaonrails_vimfiles.txt
gui_prototype/prototype/readme/alphagov_performanceplatform-documentation.txt
gui_prototype/prototype/readme/barshamaharjan_barshamaharjan.github.io.txt
gui_prototype/prototype/readme/benbalter_congressional-districts.txt
gui_prototype/prototype/readme/bhuga_bhuga.net.txt
gui_prototype/prototype/readme/briandalessandro_DataScienceCourse.txt
gui_prototype/prototype/readme/caesar0301_awesome-public-datasets.txt
gui_prototype/prototype/readme/carlosmn_CoMa-II.txt
gui_prototype/prototype/readme/cirosantilli_write-free-science-books-to-get-famous-website.txt
gui_prototype/prototype/readme/cmrberry_cs6300-git-practice.txt
gui_prototype/prototype/readme/cs231n_cs231n.github.io.txt
gui_prototype/prototype/readme/d3_d3.txt
gui_prototype/prototype/readme/datasciencelabs_2016.txt
gui_prototype/prototype/readme/datasets_smdg-master-terminal-facilities-list.txt
gui_prototype/prototype/readme/dimiturtrz_ruby-course-tasks-and-challenges.txt
gui_prototype/prototype/readme/django_django.txt
gui_prototype/prototype/readme/e-books_backbone.en.douceur.txt
gui_prototype/prototype/readme/ehsteve_NASA-rocket-science.github.io.txt
gui_prototype/prototype/readme/eiinfuva_DatosMedioambientalesCYL.txt
gui_prototype/prototype/readme/emorisse_FBI
-Hate-Crime-Statistics.txt
gui_prototype/prototype/readme/erikflowers_weather-icons.txt
gui_prototype/prototype/readme/ga-chicago_wdi5-homework.txt
gui_prototype/prototype/readme/garciaf_fabbook.txt
gui_prototype/prototype/readme/ghellwig_cmssw-script-collection.txt
gui_prototype/prototype/readme/ghellwig_script-collection.txt
gui_prototype/prototype/readme/git_git-scm.com.txt
gui_prototype/prototype/readme/githubteacher_intro-november-2015.txt
gui_prototype/prototype/readme/graphhopper_open-traffic-collection.txt
gui_prototype/prototype/readme/graymd_test_global_gitignore_repo.txt
gui_prototype/prototype/readme/harvesthq_how-to-walkabout.txt
gui_prototype/prototype/readme/hpi-swt2-exercise_java-tdd-challenge.txt
gui_prototype/prototype/readme/hughperkins_howto-jenkins-ssl.txt
gui_prototype/prototype/readme/jmcglone_jmcglone.github.io.txt
gui_prototype/prototype/readme/joomla_joomla-cms.txt
gui_prototype/prototype/readme/kirbs-_edX-Learning-From-Data-Solutions.txt
gui_prototype/prototype/readme/kivy-garden_garden.matplotlib.txt
gui_prototype/prototype/readme/kivy_kivy.txt
gui_prototype/prototype/readme/m2mtech_smashtag-2015.txt
gui_prototype/prototype/readme/macloo_just_enough_code.txt
gui_prototype/prototype/readme/mamapitufo_rojored-preloader-examples.txt
gui_prototype/prototype/readme/minimaxir_big-list-of-naughty-strings.txt
gui_prototype/prototype/readme/mweinberger-tgm_Dokumentenvorlage.txt
gui_prototype/prototype/readme/nicolas-navarro-guerrero_my-cv-templates.txt
gui_prototype/prototype/readme/official-stockfish_Stockfish.txt
gui_prototype/prototype/readme/openaddresses_openaddresses.txt
gui_prototype/prototype/readme/pobox_overwatch.txt
gui_prototype/prototype/readme/pyinstaller_pyinstaller.txt
gui_prototype/prototype/readme/rhiever_python-data-visualization-course.txt
gui_prototype/prototype/readme/rubymonstas-zurich_rubymonstas-zurich.github.io.txt
gui_prototype/prototype/readme/sam-hobbs_harbour-hammerhead-torch.txt
gui_prototype/prototype/readme/sincerekamal_Advance-Android-Tutorials.txt
gui_prototype/prototype/readme/sindresorhus_eslint-config-xo.txt
gui_prototype/prototype/readme/stuntguy3000_stuntguy3000.github.io.txt
gui_prototype/prototype/readme/tensorflow_tensorflow.txt
gui_prototype/prototype/readme/tiyd-rails-2015-01_employee_reviews.txt
gui_prototype/prototype/readme/torontosj_League-of-Legends-Capstone.txt
gui_prototype/prototype/readme/torvalds_linux.txt
gui_prototype/prototype/readme/uwescience_datasci_course_materials.txt
gui_prototype/prototype/readme/uwhpsc-2016_example-python-homework.txt
gui_prototype/prototype/readme/vhf_free-programming-books.txt
gui_prototype/prototype/readme/xabier_comunes-conocimiento-democracia.txt
gui_prototype/prototype/readme/yelhouari_20141019-Moolah-Investigation.txt
gui_prototype/site-packages/
!/gui_prototype/lib/wordcloud/query_integral_image.cp35-win_amd64.pyd
