Kivy==1.9.1
matplotlib==1.5.3
github3.py==1.0.0.a4
wordcloud
Kivy_Garden==0.1.4
clipboard==0.0.4
clyent #==1.2.2
nltk==3.4.5
scipy==0.18.1
numpy==1.21.0
pandas #==0.18.1
prettytable==0.7.2
requests==2.20.0
xlwt==1.1.2
Pillow>=6.2.2
BeautifulSoup4==4.5.3
docutils==0.13.1
six==1.10.0
scikit_learn==0.18.1

